.ipynb_checkpoints/*
.vscode/
__pycache__/

datasets/*
datasets/all_train_sets/*
datasets/data_preprocessed/*
datasets/test_sets/*
datasets/w2v/*
experiments/*
models/*
logs/*

!datasets/.gitkeep
!datasets/all_train_sets/.gitkeep
!datasets/data_preprocessed/.gitkeep
!datasets/test_sets/.gitkeep
!datasets/w2v/.gitkeep
!experiments/.gitkeep
!models/.gitkeep